# Ignore Gradle project-specific cache directory
.gradle
.idea
# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# JVM crash logs
*.log

# CI-staged native libraries
lib-zvec/src/main/resources/native/
